@use "utilities" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 5em;
}

body {
	position: relative;
	font-family: "Quicksand", sans-serif;
	font-size: 1.6rem;
	background-color: $black;
	color: $white;
}

@media (992px <= width) {
	html {
		scroll-padding-top: 6em;
	}
}