@use "utilities" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	// scroll-padding-top: 6em;
}

body {
	position: relative;
	height: 200vh; // do wyjebania
	min-height: 100vh; // do wyjebania
	font-family: "Quicksand", sans-serif;
	font-size: 1.6rem;
	// font-weight: normal;
	background-color: $red; // do zmiany na black
	color: $white;
}