@use './colors' as *;
@use './mixins' as *;

.aboutme {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 20em;
        border-radius: 50%;
    }

    // &__box {
    //     position: absolute;
    // }

    &__heading {
        margin: 1em 0;
        text-align: center;
        font-weight: 300;
        font-size: 2rem;
    }

    &__text {
        width: 100%;
        text-align: justify;
    }

    &__paragraph {
        margin-top: 1.5em;
    }

    &__socialmedia {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        
        &-link {
            display: block;
            width: 3em;
            margin: 0 .5em;
        }

        &-img {
            width: 100%;
        }
    }
}