@use './colors' as *;

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin: 1.5em;
    background-color: $black;

    &:first-of-type {
        margin-top: 11em;
    }

    &__heading {
        margin: 2em 0;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        font-size: 3rem;
    }
}