@use './colors' as *;
@use './mixins' as *;
@use './components' as *;


.contact {
    &__box {
        @include heroImg('../../../dist/img/anvil_and_nuts_2_small.jpg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        margin-bottom: 2em;
        align-items: center;
        border: 2px solid $white;
        border-radius: 3px;
    }

    &__shadow {
        @include shadowImg;
        background-color: $dark-shadow;
    }

    &__minibox {
        text-align: center;
    }

    &__text {
        margin-bottom: 0;
        font-size: 2rem;
        text-transform: uppercase;

        &--one {
            margin-bottom: 1em;
            text-align: center;
            text-transform: capitalize;
        }
    }

    &__paragraph {
        margin-bottom: 1em;
        font-weight: bold;
    }

    &__socialmedia {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        
        &-link {
            display: block;
            width: 3em;
            margin: 0 .5em;
            transition: scale .2s;

            &:hover {
                scale: 1.1;
            }
        }

        &-img {
            width: 100%;
        }
    }
}

@media (width >= 576px) {
    .contact {
        &__box {
            width: 25em;
            margin: 0 auto 2em;
        }
    }
}

@media (width >= 768px) {
    .contact {
        &__box {
            width: 40em;
            height: 30em;
            margin: 0 auto 3em;
        }

        &__socialmedia {
            &-link {
                width: 4em;
                margin: 0 1em;
            }
        }
    }
}

@media (width >= 992px) {
    .contact {
        &__box {
            @include heroImg('../../../dist/img/anvil_and_nuts_2.jpg');
            margin-bottom: 5em;
        }

        &__text { 
            &--one {
                margin-top: 5em;
                margin-bottom: 3em;
            }
        }

        &__socialmedia {
            margin: 3em 0;
        }
    }
}

@media (width >= 1200px) {
    .contact {
        &__box {
            width: 50em;
            height: 35em;
            margin: 0 auto 5em;
        }

        &__paragraph {
            margin-bottom: 3em;
        }

        &__socialmedia {
            &-link {
                width: 6em;
            }
        }
    }
}