@use './colors' as *;
@use './mixins' as *;

.hero-img {
	height: 100vh;
	@include heroImg('../../../dist/img/hero-img.jpg');
    background-position: top;
    background-attachment: fixed;
	overflow: hidden;

	&__shadow {
		@include shadowImg;
	}

	&__content {
		position: absolute;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(12, 1fr);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		color: $white;
		z-index: 1;
	}
	
	&__header {
		position: relative;
		grid-column: 2/-2;
		grid-row: 5/6;
		align-content: flex-end;
		text-transform: uppercase;
		font-family: "Junge", cursive;
		font-weight: 400;
		font-style: normal;
		font-size: 3rem;

		&::before {
			position: absolute;
			top: .1em;
			left: -.5em;
			width: 2px;
			height: 150%;
			border-radius: 3px;
			background-color: $white;
			transition: transform 0.3s;
			content: "";
		}
	}
	
	&__text {
		grid-column: 2/-1;
		grid-row: 6/7;
		font-weight: 300;
		font-size: 2.5rem;
	}
}
	
@media (width >= 768px) {
	.hero-img {
		&__header {
			&::before {
				height: 200%;
			}
		}
	}
}

@media (width >= 992px) {
	.hero-img {
		&__header {
			font-size: 3.5rem;
		}
	}
}

@media (width >= 1600px) {
	.hero-img {
		&__content {
			grid-template-columns: repeat(24, 1fr);
		}

		&__header {
			grid-column: 3/-3;
			font-size: 4rem;
		}

		&__text {
			grid-column: 3/-3;
		}
	}
}