@use './colors' as *;
@use './mixins' as *;

.nav {
    .navbar {
        @include nav;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5em;
        // border-bottom: 1px solid $white;
        // box-shadow: 1px 1px $shadow;
        background-color: $black;
    }
    
    &__brand {
        display: inline-block;
        text-decoration: none;
        width: 3em;
        margin: 0 1.5em;
    }

    &__btn {
        position: absolute;
        width: 4em;
        padding: .3em;
        margin: 1em 1.2em;
        border: none;
        background: none;
        color: $white;
        cursor: pointer;
        
        &-burger {
            top: 0;
            right: 0;
        }
        
        &-x {
            top: 0;
            right: 0;
        }
    }

    &__mobile {
        @include nav;
		display: flex;
		flex-direction: column;
		bottom: 0;
		height: 100vh;
		width: 100vw;
		text-align: center;
		background-color: $black;
		transform: translateX(110%);
		transition: transform .3s;
		z-index: 1100;

        &--active {
			transform: translateX(0);
		}

        &-link {
			margin: auto 0;
			text-decoration: none;
			font-size: 3.2rem;
			color: $white;
			transition: color .3s;

            &:first-of-type {
                margin-top: 2.5em;
            }
		}
    }

    &__desktop {
        display: none;
    }

    &__img {
        width: 100%;
    }
}

@media (992px <= width) {
    .nav {
		.navbar {
			display: none;
		}

        &__brand {
            width: 4em;
        }

		&__mobile {
			display: none;
		}

		&__desktop {
			@include nav;
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 6em;
			background-color: $black;

			&-box {
				display: flex;
				justify-content: center;
				align-items: center;
			}
            
			&-link {
                padding: .2em .2em;
                margin: 0 .5em;
				height: 100%;
				font-size: 2.2rem;
                font-weight: 300;
				text-decoration: none;
				color: $white;
                transition: font-weight .2s;
                
                &:hover {
                    font-weight: normal;
                }
			}
		}
	}
}

@media (width >= 1200px) {
    .nav {
        &__desktop {
            &-link {
                font-size: 2.8rem;
            }
        }
    }
}