@use './colors' as *;
@use './mixins' as *;
@use './components' as *;

.accordion {
    margin: 0 1em;
    border-radius: 3px;

    &-button {
        text-transform: uppercase;
        font-size: 3rem;
    }

    &-item {
        background-color: $black;
    }

    &-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row dense;
    }

    &-img {
        width: 100%;
        border-radius: 3px;
        margin: .25em;
    }
}